* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    display: grid;
    height: 600px;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.red {
    grid-column: 1 / 3;
    background-color: red;
}

.orange {
    /* grid-column: ; */
    background-color: orange;
}

.green {
    /* grid-column: 1 / 3; */
    grid-row: 2 / 4;
    background-color: green;
}

.blue {
    grid-column: 2 / 4;
    background-color: blue;
}